---
import Animation from "../components/Animation.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <title>Astro</title>
  </head>
  <body>
    <section class="animation_grid">
      <div class="animation">
        <Animation size="big" />
      </div>
    </section>
  </body>
</html>

<style>
  .animation_grid {
    display: grid;
    grid-template-columns: 1fr;
  }
  .animation {
    justify-self: center;
    margin-top: 3rem;
  }
</style>
