---
import Layout from "../layouts/Layout.astro";
import Vision from "../components/Vision.astro";
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="Smykker kan ophøje ethvert outfit! Køb smukke og edgy smykker med god samvittighed fra vores sortiment af halskæder og øreringe udarbejdet på bæredygtig vis." />
    <meta name="generator" content={Astro.generator} />
    <title>About us</title>
  </head>

  <Layout>
    <main>
      <section>
        <div class="overskrift_">
          <h4>About us</h4>
        </div>

        <div class="video_container">
          <video autoplay muted playsinline loop src="img/wouvideowebsite.webm"></video>
        </div>
      </section>

      <section>
        <div class="overskrift">
          <h4>Get to know our story</h4>
        </div>

        <div class="grid_2">
          <div>
            <p>World of Ukiyo is a newly established jewellery company created by five talented KEA students - Sofia Bülow, Emilie Nielsen, Camilla Jakobsen, Lola Von Lindholm, and Rikke Dahl-Nielsen, as part of their educational journey.</p>
            <p>Situated in the heart of Copenhagen, this company specializes in crafting and selling silver and gold-plated jewellery with a truly distinctive aesthetic. Their designs possess an exquisite allure, drawing inspiration from their creative musings, which manifest themselves in their captivating pieces.</p>
            <p>World of Ukiyo prides itself on producing elegant jewellery imbued with an edgy and raw expression, captivating a unique target audience. The company places particular emphasis on sustainability and quality, exemplified by their practice of manufacturing products on a made-to-order basis. Moreover, World.of.Ukiyo meticulously selects durable materials to ensure exceptional quality and long-lasting durability in every piece.</p>
            <p>Currently, the company's portfolio comprises a single collection named 'Spike', which is promoted through Instagram, TikTok, and various events hosted by the company.</p>
            <p>We urge you to join us on World of Ukiyo's journey through the realm of the jewellery industry, as this will be the last time you hear about us. Anticipate a remarkable voyage as we create an abundance of bold, unique, and cutting-edge jewellery for your pleasure.</p>
            <p>We sincerely hope you will choose to accompany us on this exhilarating adventure.</p>
            <p>Love from</p>
            <h3>WORLD OF UKIYO</h3>
          </div>
          <div class="overskrift_">
            <img src="img/personlig.webp" alt="guldørering med hjerte vedhæng" />
          </div>
        </div>
      </section>
    </main>
    <Vision />
  </Layout>
  <style>
    .video_container video {
      object-fit: cover;
      width: 100%;
    }
    video {
      width: 100%; /* Adjust the width as per your needs */
      padding: 5px;
    }
    img {
      width: 100%;
    }

    @media (min-width: 1199px) {
      .overskrift {
        border-top: solid 1px black;
        border-bottom: solid 1px black;
        margin-bottom: 40px;
      }
      video {
        width: 100%; /* Adjust the width as per your needs */
        justify-content: center;
      }

      .video_container {
        margin-bottom: 70px;
      }
      .grid_2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        border-bottom: solid 1px;
        padding-bottom: 60px;
      }
      img {
        width: 100%;
      }

      @media (min-width: 500px, max-width: 1198px) {
        .video_container video {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 100px;
        }
        video {
          width: 100%; /* Adjust the width as per your needs */
          justify-content: center;
        }
        .underoverskrift {
          justify-content: center;
          border-bottom: solid 1px;
        }
        .grid_2 {
          display: grid;
          grid-template-columns: 1fr 1fr;
        }
        img {
          width: 100%;
        }
        .overskrift {
        }
      }
    }
  </style>
</html>
