---
import Layout from "../layouts/Layout.astro";
import Vision from "../components/Vision.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <main>
    <section class="grid_2">
      <div>
        <h2>About us</h2>
        <img src="img/aboutus1.webp" alt="model" />
      </div>
      <p>World of Ukiyo is a newly established jewellery company located in Copenhagen that produces and sells silver and gold-plated jewelry with a unique expression.</p>
      <div></div>
    </section>
    <section class="grid_2">
      <div>
        <p>The company was founded by five KEA students: Sofia Bülow, Emilie Nielsen, Camilla Jakobsen, Lola Von Lindholm, and Rikke Dahl-Nielsen, as part of their educational program.</p>
        <p>World of Ukiyo creates elegant jewellery with an edge, targeting a distinct audience. The company places a strong emphasis on sustainability and quality, which is why all products are made to order. Additionally, World of Ukiyo utilizes carefully selected materials that are durable, ensuring a high-quality and long-lasting product.</p>
      </div>
      <div>
        <img src="img/smykkeabout.webp" alt="smykke" />
      </div>
    </section>
    <section>
      <div class="video_container">
        <video autoplay muted playsinline loop src="img/wouvideowebsite.webm"></video>
      </div>
      <div class="underoverskrift"></div>
    </section>
  </main>
</Layout>
<style>
  .underoverskrift {
    justify-content: center;
    padding-bottom: 3rem;
    border-bottom: solid 0.5px;
  }

  .video_container video {
    object-fit: cover;
    width: 100%;
  }
  video {
    width: 100%; /* Adjust the width as per your needs */
  }

  img {
    width: 100%;
  }

  @media (min-width: 1199px) {
    .video_container video {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 100px;
    }
    video {
      width: 100%; /* Adjust the width as per your needs */
      justify-content: center;
    }
    .underoverskrift {
      justify-content: center;
      border-bottom: solid 1px;
    }
    .grid_2 {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    img {
      width: 100%;
    }
  }
</style>
