---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import "../styles/style.css";
import Trend from "../components/Trend.astro";
import Img from "../components/Img.astro";
---

<Layout>
  <main>
    <Header
      h2={"EARRINGS"}
      text={"All our earrings are unique and handmade with love and passion. Made to last."}
      img="img/dameforside.webp"
    />

    <p><a href="/">Home</a> / <a href="/produkter">Shop</a></p>

    <section class="silver_flex">
      <div>
        <h4>925 STERLING SILVER</h4>
      </div>
      <div>
        <h3>
          All earrings are made from 925 sterling silver, or 18k gold plated
          sterling silver
        </h3>
      </div>
    </section>

    <section class="product">
      <video autoplay loop muted src="/img/choker.mp4">test</video>
    </section>

    <Trend />
  </main>
</Layout>

<style>
  video {
    width: 50%;
  }
  h4 {
    letter-spacing: 0.1rem;
    font-size: 1rem;
    font-weight: lighter;
  }

  h3 {
    font-weight: lighter;
  }
  .silver_flex {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-top: solid 0.5px;
    border-bottom: solid 0.5px;
  }

  .product {
    display: flex;
  }
</style>
