---
import Layout from "../layouts/Layout.astro";
import Vision from "../components/Vision.astro";
import Header from "../components/Header.astro";
import Link from "../components/Link.astro";
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <Layout>
      <main>
        <section class="forsideimg">
          <img class="storbillede" src="img/spikecollectionshoot1.webp" alt="" />
          <h1>WORLD OF UKIYO</h1>
          <div class="collectiontext">
            <h2>
              <span style="color: white;">EXPLORE OUR NEW</span> SPIKE COLLECTION
            </h2>
          </div>

          <section>
            <Link img="img/pil.svg" url={"collections.astro"} text={"Shop 925 sterling silver"} />
          </section>
          <section>
            <Link img="img/pil.svg" url={"collections.astro"} text={"Shop 18k gold plated sterling silver"} />
          </section>

          <section class="grid_1_1">
            <img class="billede1" src="img/spikecollectionshoot2.webp" alt="" />
            <img class="billede2" src="img/spikecollectionshoot3.webp" alt="" />
            <img class="billede3" src="img/spikecollectionshoot14.webp" alt="" />
          </section>

          <section class="video">
            <h3>PROGRESS</h3>
          </section>
        </section>
      </main>
    </Layout>
  </body>

  <style>
    .forsideimg {
      display: grid;
    }

    .forsideimg > img {
      grid-area: 1 / 1;
      width: 100%;
    }

    .forsideimg > h1,
    .forsideimg > .collectiontext {
      margin: 0;
    }

    .forsideimg > h1 {
      justify-self: center;
      align-self: center;
      align-self: flex-start;
      grid-area: 1 / 1;
    }

    .forsideimg > .collectiontext {
      align-self: end;
      grid-area: 1 / 1;
    }

    h1 {
      font-size: 3rem;
    }

    h2 {
      font-size: 0.7rem;
      padding-bottom: 1.6rem;
      padding-left: 1.8rem;
    }

    h3 {
      font-size: 2rem;
      text-align: center;
    }

    .grid_1_1 {
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-gap: 8px;
      margin: 1.5rem;
    }

    .billede1 {
      width: 96%;
      grid-row: span 2;
      grid-column: span 1;
    }

    .billede2 {
      width: 92%;
      grid-row: 1 / 2;
      grid-column: 2 / 3;
    }

    .billede3 {
      width: 91%;
      grid-row: 2 / 3;
      grid-column: 2 / 3;
    }

    /* tablet */
    @media (min-width: 750px) {
      .collectiontext {
        display: grid;
        grid-template-columns: 1fr; /* Definer kolonnebredden efter behov */
        justify-content: flex-start; /* Venstrestil placering af gitterelementer */
        padding-left: 20px; /* Juster venstre polstring efter behov */
      }

      h1 {
        font-size: 5rem;
      }
      h2 {
        font-size: 1rem;
        padding-bottom: 1.5999999999999996rem;
        padding-left: 4.2rem;
      }

      .billede1 {
        width: 94%;
        grid-row: span 2;
        grid-column: span 1;
      }

      .billede2 {
        width: 92%;
        grid-row: 1 / 2;
        grid-column: 2 / 3;
      }

      .billede3 {
        width: 91%;
        grid-row: 2 / 3;
        grid-column: 2 / 3;
      }
    }

    /* desktop */
    @media (min-width: 1200px) {
      .storbillede {
        max-width: 100%;
        height: auto;
      }

      h1 {
        font-size: 9rem;
      }

      h2 {
        font-size: 1.55rem;
        padding-bottom: 3.5999999999999996rem;
        padding-left: 8.5rem;
      }

      .collectiontext {
        display: grid;
        grid-template-columns: 1fr; /* Definer kolonnebredden efter behov */
        justify-content: flex-start; /* Venstrestil placering af gitterelementer */
        padding-left: 20px; /* Juster venstre polstring efter behov */
      }

      .billede1 {
        width: 94%;
        grid-row: span 2;
        grid-column: span 1;
      }

      .billede2 {
        width: 93%;
        grid-row: 1 / 2;
        grid-column: 2 / 3;
      }

      .billede3 {
        width: 92.5%;
        grid-row: 2 / 3;
        grid-column: 2 / 3;
      }

      .grid_1_1 {
        grid-gap: 5px;
        margin: 10rem;
      }
    }
  </style>
</html>
