---
import Layout from "../layouts/Layout.astro";
import Vision from "../components/Vision.astro"

---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <Layout>
      <main>
        <h1>Astro</h1>
        <h2>test</h2>
        <h3>hej</h3>
        <p>test af font</p>
      </main>
    </Layout>
    <Vision>
  </body>
</html>
