---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import "../styles/style.css";
import Container from "../components/Container.astro";
---

<Layout>
  <main>
    <article></article>
    <Header
      h2={"NECKLACES"}
      text={"All our necklaces are unique and handmade with love and passion. Made to last"}
      img="img/necklaces.webp"
    />
    <p><a href="/">Home</a> / <a href="/produkter">Shop</a></p>
  </main>
</Layout>
