---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Img from "../components/Img.astro";
import Container from "../components/Container.astro";

import "../styles/style.css";
import Necklaces from "./necklaces.astro";

const url = "https://lxnrjzuoeukkotupkhoe.supabase.co/rest/v1/jewellery";
const options = {
  headers: {
    apikey:
      "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx4bnJqenVvZXVra290dXBraG9lIiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODM2MzczODgsImV4cCI6MTk5OTIxMzM4OH0.270N-mktsbds2KmeJGyyHwaSJdY6p6mI5CWmbO4ZLzo",
  },
};

const response = await fetch(url, options);
const alleProdukter = await response.json();

const gold = alleProdukter.filter(
  (produkt) => produkt.color == 4 && (produkt.type == 2 || produkt.type == 1)
);

const necklaces = alleProdukter.filter(
  (produkt) => produkt.type == 2 && (produkt.color == 3 || produkt.color == 4)
);

const earrings = alleProdukter.filter((produkt) => produkt.type == 1);

const silver = alleProdukter.filter(
  (produkt) => produkt.color == 3 && (produkt.type == 2 || produkt.type == 1)
);

/* Filtrer 3 produkter til desktop*/
const view1 = alleProdukter.filter(
  (produkt) => produkt.type == 2 && produkt.true == true
);
const view2 = alleProdukter.filter(
  (produkt) => produkt.type == 1 && produkt.true == true
);

/* Filtrer 2 produkter til mobil*/

const view3 = alleProdukter.filter(
  (produkt) => produkt.type == 2 && produkt.mobil == true
);
const view4 = alleProdukter.filter(
  (produkt) => produkt.type == 1 && produkt.mobil == true
);

/*const silver = alleProdukter.filter(
  (produkt) => (produkt.color === 3 && produkt.type == 2) || produkt.type == 1
);

const necklaces = alleProdukter.filter(
  (produkt) => produkt.type === 2 && produkt.color == 3,
  4
);
*/
console.log(gold);
---

<Layout>
  <Header
    h2={""}
    text={"All our earrings are unique and handmade with love and passion. Made to last."}
    img2="img/spike.png"
    img="img/menu.webp"
  />
  <section>
    <h4>Explore</h4>

    <div class="explore">
      <div>
        <a class="explore_1" href="/necklaces"
          ><img src="img/link1.webp" alt="big heart" /></a
        >
      </div>
      <div class="explore_2">
        <a href="/earrings"><img src="img/link2.webp" alt="big heart" /></a>
      </div>
    </div>
  </section>
  <!-- dekstopview -->

  <section class="desktop_filter">
    <section>
      <div class="description">
        <div>
          <h4>NECKLACES</h4>
        </div>

        <div>
          <h3>
            All earrings are made from 925 sterling silver, or 18k gold plated
            sterling silver
          </h3>
        </div>
      </div>

      <div class="grid_produkter">
        <Container kategori={view1} />
      </div>

      <a href="/necklaces">Shop all necklaces</a>
    </section>

    <section>
      <div class="description">
        <div>
          <h4>EARRINGS</h4>
        </div>

        <div>
          <h3>
            All earrings are made from 925 sterling silver, or 18k gold plated
            sterling silver
          </h3>
        </div>
      </div>

      <div class="grid_produkter">
        <Container kategori={view2} />
      </div>
      <a href="/earrings">Shop all earrings</a>
    </section>
  </section>

  <!-- mobilview -->
  <section class="mobil_filter">
    <section>
      <div class="description">
        <div>
          <h4>NECKLACES</h4>
        </div>

        <div>
          <h3>
            All earrings are made from 925 sterling silver, or 18k gold plated
            sterling silver
          </h3>
        </div>
      </div>

      <div class="grid_produkter">
        <Container kategori={view3} />
      </div>

      <a href="/necklaces">Shop all necklaces</a>
    </section>

    <section>
      <div class="description">
        <div>
          <h4>EARRINGS</h4>
        </div>

        <div>
          <h3>
            All earrings are made from 925 sterling silver, or 18k gold plated
            sterling silver
          </h3>
        </div>
      </div>

      <div class="grid_produkter">
        <Container kategori={view4} />
      </div>
      <a href="/earrings">Shop all earrings</a>
    </section>
  </section>
</Layout>

<style>
  .desktop_filter {
    display: none;
  }
  .grid_produkter {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  a {
    font-family: "Cormorant", serif;
    text-decoration: none;
    color: black;
  }
  .description {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-top: solid black 0.5px;
    border-bottom: solid black 0.5px;
    align-items: center;
  }
  section {
    margin-top: 80px;
  }
  .explore {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .explore_1 {
    display: flex;
    justify-content: right;
  }
  .explore_2 {
    display: flex;
    justify-content: left;
  }
  .explore img {
    width: 90%;
    opacity: 50%;
    border: solid black 1px;
  }
  h3 {
    font-size: 0.8rem;
  }
  h4 {
    font-size: 1rem;
  }
  /**Tablet**/
  @media (min-width: 401px) {
    .grid_produkter {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
    h2,
    p {
      font-size: 0.8rem;
    }
    .mobil_filter {
      display: none;
    }
    .desktop_filter {
      display: block;
    }
    h3 {
      font-size: 1rem;
    }
    h4 {
      font-size: 1.5rem;
    }
  }

  /**dekstop**/
  @media (min-width: 1199px) {
    .description {
      border-top: solid black 1px;
      border-bottom: solid black 1px;
    }
    .desktop_filter {
      display: block;
    }
    .mobil_filter {
      display: none;
    }
    .grid_produkter {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
    .explore img {
      width: 60%;
      opacity: 50%;
      border: solid black 1px;
    }

    .explore_1 {
      display: flex;
      justify-content: right;
    }
  }
</style>
