---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Img from "../components/Img.astro";
import Container from "../components/Container.astro";
import Link from "../components/Link.astro";
import "../styles/style.css";
import Necklaces from "./necklaces.astro";

const url = "https://lxnrjzuoeukkotupkhoe.supabase.co/rest/v1/jewellery";
const options = {
  headers: {
    apikey:
      "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx4bnJqenVvZXVra290dXBraG9lIiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODM2MzczODgsImV4cCI6MTk5OTIxMzM4OH0.270N-mktsbds2KmeJGyyHwaSJdY6p6mI5CWmbO4ZLzo",
  },
};

const response = await fetch(url, options);
const alleProdukter = await response.json();

const gold = alleProdukter.filter(
  (produkt) => produkt.color == 4 && (produkt.type == 2 || produkt.type == 1)
);

const necklaces = alleProdukter.filter(
  (produkt) => produkt.type == 2 && (produkt.color == 3 || produkt.color == 4)
);

const earrings = alleProdukter.filter((produkt) => produkt.type == 1);

const silver = alleProdukter.filter(
  (produkt) => produkt.color == 3 && (produkt.type == 2 || produkt.type == 1)
);

/* Filtrer 3 produkter til desktop*/
const view1 = alleProdukter.filter(
  (produkt) => produkt.type == 2 && produkt.true == true
);
const view2 = alleProdukter.filter(
  (produkt) => produkt.type == 1 && produkt.true == true
);

/* Filtrer 2 produkter til mobil*/

const view3 = alleProdukter.filter(
  (produkt) => produkt.type == 2 && produkt.mobil == true
);
const view4 = alleProdukter.filter(
  (produkt) => produkt.type == 1 && produkt.mobil == true
);

/*const silver = alleProdukter.filter(
  (produkt) => (produkt.color === 3 && produkt.type == 2) || produkt.type == 1
);

const necklaces = alleProdukter.filter(
  (produkt) => produkt.type === 2 && produkt.color == 3,
  4
);
*/
console.log(gold);
---

<Layout>
  <Header
    h2={""}
    text={"All our earrings are unique and handmade with love and passion. Made to last."}
    img2="img/spike.png"
    img="img/menu.webp"
  />
  <section>
    <h4>Explore</h4>

    <div class="explore">
      <div class="container">
        <img class="img11" src="img/link1.webp" alt="Billede" />
        <div class="overlay">
          <h2>NECKLACES</h2>
        </div>
      </div>

      <div class="container">
        <img class="img12" src="img/link1.webp" alt="Billede" />
        <div class="overlay">
          <h2>NECKLACES</h2>
        </div>
      </div>
    </div>

    <!-- dekstopview -->

    <section class="desktop_filter">
      <section>
        <div class="description">
          <div>
            <h4>NECKLACES</h4>
          </div>

          <div class="text_view">
            <h3>
              All earrings are made from 925 sterling silver, or 18k gold plated
              sterling silver
            </h3>
          </div>
        </div>

        <div class="grid_produkter">
          <Container kategori={view1} />
        </div>

        <div></div>
        <Link url="/necklaces" text="Shop all necklaces" />
      </section>

      <section>
        <div class="description">
          <div>
            <h4>EARRINGS</h4>
          </div>

          <div class="text_view">
            <h3>
              All earrings are made from 925 sterling silver, or 18k gold plated
              sterling silver
            </h3>
          </div>
        </div>

        <div class="grid_produkter">
          <Container kategori={view2} />
        </div>

        <Link url="/earrings" text="Shop all earrings" />
      </section>
    </section>

    <!-- mobilview -->
    <section class="mobil_filter">
      <section>
        <div class="description">
          <div>
            <h4>NECKLACES</h4>
          </div>

          <div class="text_view">
            <h3>
              All earrings are made from 925 sterling silver, or 18k gold plated
              sterling silver
            </h3>
          </div>
        </div>

        <div class="grid_produkter">
          <Container kategori={view3} />
        </div>

        <Link url="/necklaces" text="Shop all necklaces" />
      </section>

      <section>
        <div class="description">
          <div>
            <h4>EARRINGS</h4>
          </div>

          <div class="text_view">
            <h3>
              All earrings are made from 925 sterling silver, or 18k gold plated
              sterling silver
            </h3>
          </div>
        </div>

        <div class="grid_produkter">
          <Container kategori={view4} />
        </div>
        <Link url="/earrings" text="Shop all earrings" />
      </section>
    </section>
  </section>

  <style>
    .desktop_filter {
      display: none;
    }
    .grid_produkter {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    a {
      font-family: "Cormorant", serif;
      text-decoration: none;
      color: black;
    }
    .description {
      display: grid;
      grid-template-columns: 1fr 1fr;
      border-top: solid black 0.5px;
      border-bottom: solid black 0.5px;
      align-items: center;
    }

    .text_view {
      text-align: center;
    }
    section {
      margin-top: 80px;
    }

    /*Earrings og Necklaces store link*/
    .container {
      display: grid;
    }

    .overlay,
    .img11,
    .img12 {
      grid-area: 1/1;
      place-items: center;
      z-index: 1;
      display: grid;
    }

    .img11 {
      justify-self: center;
    }
    .img12 {
      justify-self: center;
    }

    .explore {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    h3 {
      font-size: 0.8rem;
    }
    h4 {
      font-size: 1rem;
    }
    /******Tablet****/
    @media (min-width: 401px) {
      .grid_produkter {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
      }
      h2,
      p {
        font-size: 0.8rem;
      }
      .mobil_filter {
        display: none;
      }
      .desktop_filter {
        display: block;
      }
      h3 {
        font-size: 0.8rem;
      }
      h4 {
        font-size: 1.5rem;
      }
    }

    /**dekstop**/
    @media (min-width: 1199px) {
      .description {
        border-top: solid black 1px;
        border-bottom: solid black 1px;
      }
      .desktop_filter {
        display: block;
      }
      .mobil_filter {
        display: none;
      }
      .grid_produkter {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
      }
      .explore img {
        width: 60%;
        opacity: 50%;
        border: solid black 1px;
      }

      .explore_1 {
        display: flex;
        justify-content: right;
      }

      h3 {
        font-size: 1rem;
      }
      h4 {
        font-size: 2rem;
      }
    }
  </style>
</Layout>
