---
import "../styles/style.css";
import Form from "../components/Form.astro";
---

<div class="footer_style">
  <div class="footer">
    <section class="testimonials">
      <h2 class="test_txt">Become a part of World.of.Ukiyo</h2>
      <p class="test_txt">Sign up for our newsletter, and be the first to get noticed about new releases and upcoming events.</p>
      <Form />
    </section>

    <div class="flex_links">
      <section>
        <h2>Shop</h2>
        <div class="flex_link_column">
          <a href="">Collections</a>
          <a href="">Shop</a>
        </div>
      </section>

      <section>
        <h2>Links</h2>
        <div class="flex_link_column">
          <a href="">About us</a>
          <a href="">Questions</a>
          <a href="">Delivery</a>
          <a href="">Returns</a>
        </div>
      </section>
    </div>
  </div>
  <section class="bottom">
    <p>Guldbergsgade 29, 2200 København N</p>
    <a href="">Instagram</a>
  </section>
</div>
<style>
  /** layout styles */
  .footer_style {
    background-color: var(--light_grey);
  }

  .testimonials {
    margin-bottom: 1rem;
  }
  .flex_links {
    display: flex;
    flex-direction: row;
    gap: 8rem;
    justify-content: space-between;
    justify-content: center;
    margin-bottom: 2rem;
  }

  .flex_link_column {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
  }

  /** some og addresse styles */
  .bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: ;
    margin: 0rem 1rem 0rem 1rem;
  }

  .bottom a {
    padding-top: 10px;
  }

  /** font styles */
  h2 {
    font-size: 1.1rem;
  }
  p,
  a {
    font-size: 10px;
    text-decoration: none;
    color: var(--black);
  }
  .test_txt {
    display: flex;
    justify-content: center;
    margin: 0rem 4rem 0.4rem 4rem;
  }

  @media (min-width: 401px) {
    a,
    p {
      font-size: 15px;
    }

    .flex_links {
      display: flex;
      flex-direction: row;
      gap: 5rem;
      justify-content: space-between;
      justify-content: center;
    }
  }
  @media (min-width: 1199px) {
    .footer {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .flex_links {
      display: flex;
      gap: 15rem;
    }

    .some {
      margin-top: 1rem;
      align-self: end;
    }

    h2 {
      font-size: 1.8rem;
    }
    a {
      font-size: 1.2rem;
    }

    .bottom a {
      margin-top: 0.4rem;
      font-size: 0.8rem;
    }
  }
</style>
