---
import "../styles/style.css";
---

<form>
  <label for="name"></label>
  <input class="input_1" type="text" name="name" placeholder="Full name" required />

  <label for="email"></label>
  <input class="input_3" type="text" name="email" placeholder="Email" required />

  <button>Submit</button>
</form>
<script>
  const url = "https://lxnrjzuoeukkotupkhoe.supabase.co/rest/v1/newsletter";
  const key = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx4bnJqenVvZXVra290dXBraG9lIiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODM2MzczODgsImV4cCI6MTk5OTIxMzM4OH0.270N-mktsbds2KmeJGyyHwaSJdY6p6mI5CWmbO4ZLzo";

  const form = document.querySelector("form");
  form.addEventListener("submit", sendForm);

  function sendForm(event) {
    event.preventDefault();
    const formData = form.elements;
    let name = formData.name.value;
    let email = formData.email.value;

    //console.log(formData.name.value);

    fetch(url, {
      method: "POST",
      headers: {
        apikey: key,
        Accept: "application/json",
        "Content-Type": "application/json",
      },
      body: JSON.stringify({ name, email }),
    });
  }
</script>

<style>
  input {
    background-color: var(--off_white);
    border: solid var(--black);
    text-align: center;

    font-family: "Cormorant", serif;
  }

  .name,
  .email {
    margin: 1rem;
  }

  button {
    font-family: "Cormorant", serif;
    background-color: var(--off_white);
    border: solid var(--black);

    margin-bottom: 1rem;
  }
  @media (max-width: 400px) {
    input {
      padding: 0.1rem 5rem 0.1rem 5rem;
    }
    button {
      padding: 0.1rem 0.4rem 0.1rem 0.4rem;
    }
  }
  @media (min-width: 401px) {
    input {
      padding: 0.5rem 6rem 0.5rem 6rem;
    }
    button {
      padding: 0.5rem 4rem 0.5rem 4rem;
    }
  }
</style>
