---
import "../styles/style.css";
const { img2, h4, text, img } = Astro.props;
---

<article class="baggrund">
  <div class="boks1">
    <h4>{h4}</h4>
    <img src={img2} />
    <h3>{text}</h3>
  </div>
  <div class="boks2">
    <img src={img} />
  </div>
</article>

<style>
  article {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .baggrund {
    background-color: #f4f4f4;
  }

  .baggrund img {
    object-fit: contain;
    max-width: 100%;
  }

  .boks1 {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    justify-content: center;
  }

  .boks2 {
    display: flex;
    align-items: flex-end;
  }

  h4 {
    font-size: 1.5rem;
    margin: 0;
  }

  h3 {
    font-size: 0.6rem;
    margin: 0;
  }

  /* tablet */
  @media (min-width: 750px) {
    .baggrund img {
      object-fit: contain;
      max-width: 100%;
    }

    h4 {
      font-size: 3rem;
    }

    h3 {
      font-size: 1rem;
    }
  }

  /* desktop */
  @media (min-width: 1200px) {
    .baggrund img {
      object-fit: contain;
      max-width: 70%;
    }

    .boks1 {
      padding-left: 5rem;
    }

    .boks2 {
      display: flex;
      justify-content: flex-end;
    }
    h4 {
      font-size: 4rem;
    }

    h3 {
      font-size: 1.2rem;
      padding-top: 1rem;
    }
  }
</style>
