---
import "../styles/style.css";
---

<section class="baggrund">
  <div>
    <h1>EARRINGS</h1>
    <p>
      All out earrings are unique and handmade with love and passion. Made to
      last.
    </p>
  </div>
  <div class="grid_1">
    <img src="/img/dameforside.webp" alt="" />
  </div>
</section>

<style>
  .baggrund {
    background-color: #eef0ee;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .baggrund img {
    width: 100%;
    padding-top: 1rem;
  }

  h1 {
    padding-left: 2rem;
  }
  h3 {
    padding-left: 2rem;
    font-size: 0.7rem;
  }

  /* tablet */
  @media (min-width: 401px) {
    h1 {
      font-size: 4rem;
      padding-top: 4rem;
      padding-left: 3.5rem;
    }

    h3 {
      font-size: 1rem;
      padding-left: 3.5rem;
    }
  }

  /* desktop */
  @media (min-width: 1200px) {
    h1 {
      font-size: 4rem;
      padding-top: 4rem;
      padding-left: 3.5rem;
    }

    h3 {
      font-size: 1rem;
      padding-left: 3.5rem;
    }
  }
</style>
