---
import "../styles/style.css";
---

<section class="baggrund">
  <div>
    <h1>EARRINGS</h1>
    <p>All out earrings are unique and handmade with love and passion. Made to last.</p>
  </div>
  <div class="grid_1">
    <img src="/img/dameforside.webp" alt="" />
  </div>
</section>

<style>
  .baggrund {
    background-color: #eef0ee;
    display: flex;
    grid-template-columns: 2fr 1fr;
  }

  .baggrund img {
    width: 100%;
  }
</style>
