---
import "../styles/style.css";
const { produkt, link } = Astro.props;
---

<a aria-label="Link to product in singleview" href={link}>
  <div class="container">
    <div class="overlay">
      <img alt="Hover Billede" class="hover-image" src={"/img/" + produkt.imghover} />

      <div class="overlay_grid">
        <h2 class="overlay-text">{produkt.productname}</h2>
        <p class="overlay-text">{produkt.fullprice}</p>
      </div>
    </div>

    <img alt="Original billede" class="image" src={"/img/" + produkt.img} />
  </div>
</a>
<style>
  .hover-image {
    display: none;
  }

  .container {
    object-fit: cover;
    text-align: center;
    height: auto;
    align-items: center;
    display: flex;
    flex-direction: column-reverse;
    border: solid 0.5px black;
  }

  h2 {
    font-size: 1rem;
  }
  img {
    width: 100px;
  }

  .overlay-text {
    color: #000000;
    font-size: 0.5rem;
  }

  a {
    text-decoration: none;
  }
  .image {
    width: 100%;
  }

  @media (min-width: 1199px) {
    .container {
      position: relative;
      cursor: pointer;
      width: auto;
      outline: solid 1px black;
    }

    img {
      border-bottom: none;
    }

    .image {
      display: block;
      object-fit: scale-down;
      width: 450px;
      height: auto;
      opacity: 1;
      transition: opacity 0.5s;
      border: none;
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: opacity 0.5s;

      display: flex;
      justify-content: center;
      align-items: center;
    }

    .hover-image {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
      opacity: 0;
      transition: opacity 0.5s;
    }

    h2 {
      border-top: solid 1px;
      border-bottom: solid 1px;
    }

    .overlay-text {
      color: #000000;
      font-size: 24px;
      text-align: center;
      transition: 0.5s;
      position: relative;
      z-index: 1;
    }

    .container:hover .overlay {
      opacity: 1;
    }

    .container:hover .hover-image {
      opacity: 0.4;
    }

    .container:hover .overlay-text {
      opacity: 1;
    }

    .container:hover .image {
      opacity: 0;
    }
  }
</style>
