---
import "../styles/style.css";
---

<div class="kurv">
  <div>
    <section>
      <button aria-labelledby="Knap som åbner kurven" class="btn_kurv">
        <img class="basket" src="/img/basket.svg" alt="basket" class="basket" />
      </button>
    </section>
  </div>

  <div class="basket-content">
    <button aria-labelledby="Knap som lukker kurven" class="close"></button>
    <div class="basket_grid_2">
      <div class="basket_overall">
        <div class="basket_grid_3">
          <h2>Shopping basket</h2>
          <section>
            <p>Your shopping basket is empty</p>
          </section>

          <section class="basket_grid">
            <h3>Subtotal</h3>
            <p>0,00 DKK</p>
            <h3>Shipping</h3>
            <p>Free</p>
            <h4>Total</h4>
            <p class="bigger">0,00 DKK</p>
          </section>
        </div>
      </div>
      <div class="checkout_mobil">
        <a href="/pagenotfound"><button class="checkout">Go to checkout</button></a>
      </div>
    </div>
  </div>
</div>
<script>
  // variablen "btn", der henviser til ".toggle-btn"
  const button = document.querySelector(".btn_kurv");
  // variablen "menu", der henviser til ".nav-links"
  const menu = document.querySelector(".basket-content");

  const close = document.querySelector(".close");

  // Lav funktionen "toggleMenu()" med følgende funktionalitet
  function toggleMenu() {
    // a) toggle klassen "shown" på menu vha. classList.toggle

    menu.classList.toggle("shown");
    button.classList.toggle("pressed");
    close.classList.toggle("pressed");

    // b) lav variablen "menuShown", som siger, at menu-variablen indeholder klassen "shown" via classList.contains("")
    const menuShown = menu.classList.contains("shown");

    // c) spørg om "menuShown" i if-sætningen nedenfor (=> if (menuShown)), og udskift teksten
    if (menuShown) {
      console.log(menuShown); // se i konsollen
      // btn.textContent = "Luk"; //hvis menuShown er "true"
    } else {
      console.log(menuShown); // se i konsollen

      // btn.textContent = "Menu"; // hvis menuShown er "false"
    }
    // "toggleMenu()" slutter her
  }
  // Tilføj et klik-event til "btn", der sætter toggleMenu-funktionen i gang
  button.addEventListener("click", toggleMenu);
  close.addEventListener("click", toggleMenu);
</script>
<style>
  .kurv {
    z-index: 1;
  }
  .basket_grid_3 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .basket_overall {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .basket_grid_2 {
    display: grid;
    grid-template-columns: 1fr;
  }

  .basket_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 3rem;
  }

  /* kurv animation styles */

  .btn_kurv {
    cursor: pointer;
    background-color: white;
    border: none;
  }

  .close {
    display: block;
    position: relative;
    border: none;
    cursor: pointer;
  }

  .close,
  .close::before {
    width: 3em;
    height: 3px;
  }

  .close::before {
    content: "\00d7"; /* This will render the 'X' */
    position: absolute;
    left: 0;
  }

  .checkout {
    width: 10rem;
    height: 2rem;
    margin-left: 0.5rem;
    font-family: "Cormorant", serif;
    padding-left: 30px;
    padding-right: 30px;
    background-color: white;
    border: solid black 1px;
    text-align: center;
    justify-content: start;
  }

  .checkout_mobil {
    text-align: start;
  }

  .basket-content {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    display: block;
    z-index: 98;
    background-color: var(--light_grey);
    transition: 0.5s;
  }

  .basket-content h2,
  .basket-content h3,
  .basket-content h4,
  .basket-content p {
    display: block;
    text-align: left;
    margin-top: 2rem;
    margin-left: 1rem;
  }

  h2 {
    border-bottom: solid 1px;
  }
  a {
    text-decoration: none;
  }

  .basket-content h3,
  .basket-content h4 {
    margin-right: 2rem;
  }

  .bigger {
    font-family: "Anton", sans-serif;
  }

  .bigger,
  .basket-content h4 {
    font-size: 1rem;
  }

  .basket,
  .basket::before {
    background: white;
    transition: transform 0.5s cubic-bezier(0, 0.01, 0.24, 1);
  }

  .basket::before {
    content: "";
    position: absolute;
  }

  .basket::before {
    bottom: 8px;
  }

  .basket {
    display: block;
    position: relative;
  }

  .pressed .basket {
    transform: rotate(0deg);
  }

  .pressed .basket::before {
    transform: rotate(0deg) translate(0px);
  }

  .basket-content {
    display: none;
  }

  .basket-content.shown {
    left: 42%;
  }

  .basket-content.shown {
    display: flex;
    display: block;
  }

  .basket-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (min-width: 401px) {
    .basket-content {
      position: fixed;
      top: 0;
      left: 100%;
      width: 100%;
      min-height: 100vh;
      display: block;
      z-index: 98;
      background-color: var(--light_grey);
      transition: 0.5s;
    }

    .basket-content.shown {
      left: 55%;
    }

    .checkout {
      width: 10rem;
      height: 2rem;
      margin-left: 1rem;
      display: block;
    }

    .basket-content h2,
    .basket-content h3,
    .basket-content h4,
    .basket-content p {
      margin-left: 1rem;
    }

    .bigger,
    .basket-content h4 {
      font-size: 1.1rem;
    }
  }

  @media (min-width: 1199px) {
    .basket_grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .basket-content {
      display: none;
    }

    .basket-content {
      top: 0;
      width: 30%;
      padding-top: 1rem;
      position: fixed;
      width: 100%;
      min-height: 100vh;
      display: block;
      z-index: 98;
      background-color: var(--light_grey);
      transition: 0.5s;
    }

    .basket-content.shown {
      left: 60%;
    }

    .bigger,
    .basket-content h4 {
      font-size: 1.4rem;
    }

    .basket-content h2,
    .basket-content h3,
    .basket-content h4,
    .basket-content p {
      display: block;
      text-align: left;
      margin-left: 3rem;
    }
    .checkout {
      width: 27rem;
      height: 2rem;
      margin-left: 2.5rem;
    }
  }
  @media (min-width: 1500px) {
    .basket-content.shown {
      left: 65%;
    }
  }
  @media (min-width: 1800px) {
    .basket-content.shown {
      left: 67%;
    }
  }
</style>
