---
import "../styles/style.css";
import Kurv from "../components/Kurv.astro";
---

<body>
  <header>
    <nav class="mobil">
      <section class="mobil_grid mobil_kurv">
        <div>
          <a aria-label="Link to homepage" href="/"><img src="/img/logo.webp" alt="World of Ukiyo logo" class="logo" /></a>
        </div>

        <button class="toggle-btn button">
          <span class="hamburger"></span>
        </button>
      </section>

      <div class="desktop_logo">
        <a aria-label="Link to homepage" href="/"> <img src="/img/logo.webp" alt="World of Ukiyo logo" class="logo" /></a>
      </div>

      <ul class="nav-links">
        <div class="droplink">
          <a href="/produkter">Shop</a>
          <div class="dropdown">
            <div class="grid_drop">
              <div class="jew_grid">
                <a class="filter" href="#">Jewellery</a>
                <li><a aria-label="Link to shop earrings" class="drop_link" href="/earrings">Earrings</a></li>
                <li><a aria-label="Link to shop necklaces" class="drop_link" href="/necklaces">Necklaces</a></li>
              </div>

              <div class="jew_grid">
                <a class="filter" href="#">Materials</a>
                <li><a aria-label="Link to shop silver jewellery" class="drop_link" href="/silver">Silver</a></li>
                <li><a aria-label="Link to shop gold jewellery" class="drop_link" href="/gold">Gold</a></li>
              </div>

              <div class="jew_grid">
                <img class="menu_img" src="/img/menu.webp" alt="Billede af modeller med sølvørering med hjerte vedhæng, sølv hoop og chokerhalskæde med sølv hjerte vedhæng" />
              </div>
            </div>
          </div>
        </div>
        <a aria-label="Link to collections" class="drop_link desktop_a" href="/collections">Collections</a>
        <a aria-label="Link to about us page" class="drop_link desktop_a" href="/about">About us</a>
      </ul>
      <div class="kurv_placement mobil_kurv">
        <Kurv />
      </div>

      <div class="nav-links2">
        <div class="collapsible_mobil">
          <section>
            <button aria-labelledby="Knap til at åbne og lukke collapsible" type="button" class="collapsible button">Shop</button>
            <div class="content">
              <a aria-label="Link to shop all products" href="/produkter">Shop all products</a>
              <h2 class="collapsible_h2">Jewellery</h2>
              <a aria-label="Link to necklaces" href="/necklaces">Necklaces</a>
              <a aria-label="Link to earrings" href="/earrings">Earrings</a>
              <h2 class="collapsible_h2">Materials</h2>
              <a aria-label="Link to silver jewellery" href="/silver">Sterling silver</a>
              <a aria-label="Link to gold jewellery" href="/gold">Gold plated</a>
            </div>
          </section>
          <section>
            <button aria-labelledby="Knap til at åbne og lukke collapsible" type="button" class="collapsible button">Collections</button>
            <div class="content">
              <a aria-label="Link to spike collection" href="/collections">Spike</a>
            </div>
          </section>
          <section>
            <button aria-labelledby="Knap til at åbne og lukke collapsible" type="button" class="collapsible button">About</button>
            <div class="content">
              <a aria-label="Link to about us page" href="/about">About us</a>
            </div>
          </section>
        </div>
      </div>
    </nav>
  </header>

  <script>
    // variablen "btn", der henviser til ".toggle-btn"
    const btn = document.querySelector(".toggle-btn");
    // variablen "menu", der henviser til ".nav-links"
    const menu = document.querySelector(".collapsible_mobil");

    // Lav funktionen "toggleMenu()" med følgende funktionalitet
    function toggleMenu() {
      // a) toggle klassen "shown" på menu vha. classList.toggle

      menu.classList.toggle("shown");
      btn.classList.toggle("pressed");

      // b) lav variablen "menuShown", som siger, at menu-variablen indeholder klassen "shown" via classList.contains("")
      const menuShown = menu.classList.contains("shown");

      // c) spørg om "menuShown" i if-sætningen nedenfor (=> if (menuShown)), og udskift teksten
      if (menuShown) {
        console.log(menuShown); // se i konsollen
        // btn.textContent = "Luk"; //hvis menuShown er "true"
      } else {
        console.log(menuShown); // se i konsollen

        // btn.textContent = "Menu"; // hvis menuShown er "false"
      }
      // "toggleMenu()" slutter her
    }
    // Tilføj et klik-event til "btn", der sætter toggleMenu-funktionen i gang
    btn.addEventListener("click", toggleMenu);

    var collapsible = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < collapsible.length; i++) {
      collapsible[i].addEventListener("click", function () {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.display === "block") {
          content.style.display = "none";
        } else {
          content.style.display = "block";
        }
      });
    }
  </script>

  <style>
    header {
      z-index: 1;
    }
    .button {
      font-family: "Cormorant", serif;
    }

    .collapsible_h2 {
      font-size: 14px;
      margin: 1rem 0rem 0.3rem 1rem;
    }

    .mobil {
      display: grid;
      grid-template-columns: 6fr 1fr;
    }

    .kurv_placement {
      margin-top: 1rem;
      text-align: end;
    }

    /* Style the button that is used to open and close the collapsible content */
    .collapsible {
      background-color: var(--off_white);
      color: #000000;
      cursor: pointer;
      padding: 18px;
      width: 100%;
      border: none;
      text-align: left;
      outline: none;
      font-size: 15px;
    }

    /* Collapsible .content style */
    .content {
      padding: 0 3px;
      display: none;
      overflow: hidden;
      background-color: var(--off_white);
    }

    .content a {
      display: flex;
      flex-direction: column;
      font-size: 0.7rem;
    }

    .collapsible:after {
      content: "\02795"; /* Unicode character for "plus" sign (+) */
      font-size: 0.8rem;
      color: rgb(0, 0, 0);
      float: right;
      margin-left: 0.5rem;
    }

    .active:after {
      content: "\2796"; /* Unicode character for "minus" sign (-) */
    }

    /* hamburgermenu */

    .desktop_logo {
      display: none;
    }

    .toggle-btn {
      min-width: 44px;
      min-height: 44px;
      font-size: 1.1rem;
      cursor: pointer;
      background-color: white;
      border: none;
    }

    .nav-links {
      display: none;
      background-color: #d9d9d9;
    }

    nav .logo {
      width: 3rem;
    }

    .mobil_grid {
      display: flex;
      justify-content: space-between;
    }

    .nav-links.shown {
      /* Vis menu-listen, når klassen ".shown" er til stede */
      border-top: 1px solid black;
      padding-top: 2rem;
      margin-top: 2rem;
      display: flex;
      flex: 1 1 100%;
      flex-flow: column;
      text-align: left;
      font-size: 1.5rem;
      display: none;
    }
    .hamburger {
      display: block;
      position: relative;
    }

    .dropdown {
      font-size: 0.8rem;
      list-style-type: none;
    }
    .hamburger,
    .hamburger::before {
      width: 2em;
      height: 4px;
      background: black;
      transition: transform 0.5s cubic-bezier(0, 0.01, 0.24, 1);
    }

    .hamburger::before {
      content: "";
      position: absolute;
      left: 0;
    }

    .hamburger::before {
      bottom: 8px;
    }

    .pressed .hamburger {
      transform: rotate(-45deg);
    }

    .pressed .hamburger::before {
      transform: rotate(90deg) translate(8px);
    }

    .logo {
      margin-inline: auto;
      padding-bottom: 0.8rem;
    }

    .filter {
      display: none;
    }

    .menu_img {
      display: none;
    }
    .collapsible_mobil.shown {
      display: flex;
    }

    .nav-links2.shown {
      display: block;
    }

    .collapsible_mobil {
      display: none;
    }

    .collapsible_mobil.shown {
      display: block;
    }

    @media (min-width: 1428px) {
      .mobil {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
      }

      .kurv_placement {
        margin-top: 1rem;
        text-align: end;
      }

      .collapsible_mobil {
        display: none;
      }

      .nav-links,
      .filter,
      .desktop_logo {
        display: inline-block;
      }

      .filter {
        font-size: 1.2rem;
      }

      .menu_img {
        display: block;
      }

      .nav-links {
        background-color: white;
      }
      .mobil_grid,
      .toggle-btn {
        display: none;
      }

      header {
        display: flex;
        align-items: center;
        position: sticky;
        top: 0;
        width: 100%;
        border-bottom: 1px solid #0e0e0e;
      }

      #logo {
        width: 4em;
      }

      .droplink {
        display: inline-block;
        cursor: pointer;
        color: white;
        gap: 0.7rem;
      }

      li {
        margin-top: 0.7rem;
      }

      .droplink:hover .dropdown {
        display: block;
      }

      .dropdown {
        position: absolute;
        display: flex;
        display: none;
        background-color: #d9d9d9;
        left: 0;
        top: 5.3em;
        width: 100%;
        cursor: pointer;
        padding-top: 20px;
        padding-bottom: 20px;
      }

      nav {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 100%;
        justify-content: center;
      }

      .grid_drop {
        display: flex;
      }

      .jew_grid {
        display: flex;
        flex-direction: column;
        width: 100%;
      }

      .menu_img {
        width: 60%;
        height: auto;
      }
      li {
        text-decoration: none;
        list-style-type: none;
      }
      a {
        padding: 25px;
        text-transform: uppercase;
      }
    }

    li a {
      display: inline;
      word-spacing: 50px;
      font-family: "Baloo Thambi 2", cursive;
      text-decoration: none;
      list-style-type: none;
    }

    a {
      text-decoration: none;
      color: black;
      font-family: "Cormorant", serif;
      margin-left: 1rem;
    }
  </style>
</body>
