---
import "../styles/style.css";
import Container from "../components/Container.astro";

const url = "https://lxnrjzuoeukkotupkhoe.supabase.co/rest/v1/jewellery";
const options = {
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx4bnJqenVvZXVra290dXBraG9lIiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODM2MzczODgsImV4cCI6MTk5OTIxMzM4OH0.270N-mktsbds2KmeJGyyHwaSJdY6p6mI5CWmbO4ZLzo",
  },
};

const response = await fetch(url, options);
const alleProdukter = await response.json();

const related = alleProdukter.filter((produkt) => produkt.related == true);
const relatedmobil = alleProdukter.filter((produkt) => produkt.relatedmobil == true);
---

<div class="related">
  <h2>Related products</h2>
</div>

<article>
  <div id="container_desk">
    <div id="wrapper">
      <Container kategori={related} />
    </div>
  </div>
</article>

<article>
  <div id="container_mobil">
    <div id="wrapper">
      <Container kategori={relatedmobil} />
    </div>
  </div>
</article>

<style>
  #container_desk {
    display: none;
  }
  #container_mobil {
    height: 360px; /* Juster højden efter dine behov */
    overflow: hidden;
  }

  #wrapper {
    display: flex;
  }

  article {
    display: flex;
    justify-content: center;
  }

  .related {
    display: grid;
    justify-content: start;
    margin-top: 4rem;

    border-top: solid black 1px;
  }

  @media (min-width: 1199px) {
    #container_desk {
      display: block;
    }
    #container_desk {
      height: 360px; /* Juster højden efter dine behov */
      overflow: hidden;
      display: block;
    }

    #container_mobil {
      display: none;
    }
  }
</style>
