---
const { produkt } = Astro.props;
import Img from "./Img.astro";
import produkter from "../pages/produkter.astro";
---

<section>
  <h4>{produkt}</h4>

  {
    produkt.map((productname) => (
      <personkort
        link={"/undersider/" + produkt.id}
        image={`/img/${produkt.image}`}
        name={produkt.productname}
        description={produkt.description}
      />
    ))
  }
</section>
