---
import "../styles/style.css";
import Link from "../components/Link.astro";
---

<div class="trend">
  <h2>Trending now</h2>
  <Link url="/produkter" text="Shop trending products" />
</div>

<article>
  <div id="carousel-container">
    <div id="carousel-wrapper">
      <img src="img/1.webp" alt="Billede 1" class="slide" />
      <img src="img/2.webp" alt="Billede 2" class="slide" />
      <img src="img/3.webp" alt="Billede 3" class="slide" />
      <img src="img/4.webp" alt="Billede 4" class="slide" />
      <img src="img/5.webp" alt="Billede 5" class="slide" />
      <img src="img/6.webp" alt="Billede 6" class="slide" />
      <img src="img/1.webp" alt="Billede 1" class="slide" />
      <img src="img/2.webp" alt="Billede 2" class="slide" />
      <img src="img/3.webp" alt="Billede 3" class="slide" />
      <img src="img/4.webp" alt="Billede 4" class="slide" />
      <img src="img/5.webp" alt="Billede 5" class="slide" />
      <img src="img/6.webp" alt="Billede 6" class="slide" />
    </div>
  </div>
</article>

<style>
  #carousel-container {
    width: 87%;
    height: 360px; /* Juster højden efter dine behov */
    overflow: hidden;
    height: 100%;
    width: 100%;
  }

  #carousel-wrapper {
    display: flex;
    animation: carouselAnimation 20s linear infinite;
    width: 50%;
    height: 50%;
  }

  .slide {
    flex: 0 0 calc(100% / 3); /* Vis maksimalt 3 billeder ad gangen */
    width: 50%;
    height: 50%;
    border-left: solid 0.5px black;
    border-bottom: solid 0.5px black;
    border-top: solid 0.5px black;
  }

  article {
    display: flex;
    justify-content: center;
  }

  .trend {
    display: grid;
    border-top: solid black 1px;
  }

  @keyframes carouselAnimation {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-200%);
    }
  }
</style>
