---
import "../styles/style.css";
const { produkt, link } = Astro.props;
---

<a aria-label="Link to product information" href={link}>
  <div class="container_trend">
    <img alt="Billede af smykket" class="image" src={"/img/" + produkt.img} />
  </div>
</a>
<style>
  .container_trend {
    object-fit: cover;
    text-align: center;
    height: auto;
    align-items: center;
    border: solid 0.5px black;
  }
  img {
    width: 100px;
  }

  @media (min-width: 1199px) {
    .container {
      position: relative;
      cursor: pointer;
      width: auto;
      outline: solid 1px black;
    }

    img {
      border-bottom: none;
    }
  }
</style>
