---
import "../styles/style.css";
---

<section class="boks">
  <div class="lille_boks">
    <div class="img">
      <img
        src="/img/vision.webp"
        alt="Billede af modeller med sølvørering med hjerte og choker halskæde med sølvhjerte vedhæng"
      />
    </div>
    <div class="img">
      <img
        src="/img/vision2.webp"
        alt="Billede af modeller med sølvørering med hjerte og choker halskæde med sølvhjerte vedhæng"
      />
    </div>
  </div>
  <div class="grid_1">
    <h4 class="overskrift">Our Vision</h4>
    <p>
      Discover the newest must-have in the world of fashion jewellery with our
      trendy and exciting new brand!
    </p>
    <p>
      Our spike collection is a fusion of edgy and elegant designs, handcrafted
      with love and care in the heart of Copenhagen, using the finest materials
      to create stunning pieces that are sure to turn heads.
    </p>
    <p>
      We’re thrilled to announce our pre-launch sales, offering you the
      exclusive opportunity to order your favourite pieces from our collection
      before anyone else. Make sure to follow us to stay up to date with the
      latest news and drops on our instagram: world.of.ukiyo
    </p>
    <p>
      With our passion for craftsmanship and attention to detail, we’re
      confident that our collection will become an essential in your jewellery
      box. Don’t miss out on the chance to be a part of the fashion revolution,
      in Copenhagen!
    </p>
  </div>
</section>

<style>
  .lille_boks {
    display: grid;
    grid-template-columns: 1fr;
  }
  .boks img {
    width: 230px;
    object-fit: contain;
  }
  .img {
    padding-top: 2rem;
    object-fit: contain;
    display: grid;
    justify-content: center;
    align-items: center;
  }

  .overskrift {
    border-top: solid 0.5px;
    border-bottom: solid 0.5px;
    padding: 20px;
  }

  h4 {
    font-size: 1.5rem;
  }

  @media (min-width: 1199px) {
    .boks {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
    .boks img {
      width: 400px;
      grid-gap: 10px;
    }
    .grid_1 {
      padding-left: 20px;
    }
  }
  @media (min-width: 500px) {
    .boks {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .boks img {
      width: 300px;
    }

    h4 {
      font-size: 2rem;
    }

    .overskrift {
      border-top: solid 1px black;
      border-bottom: solid 1px black;
      padding: 20px;
    }

    .lille_boks {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
</style>
